
th {
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
    align-content: center;
    color: darkblue;
   
}

tr {
    align-content: center;
    color: darkblue;   
}

h1 {
    font-family: 'Times New Roman', Times, serif;
    align-content: center;
    color: darkblue;
    text-align: center;
}