
th[b-tzoj593q4w] {
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
    align-content: center;
    color: darkblue;
   
}

tr[b-tzoj593q4w] {
    align-content: center;
    color: darkblue;   
}

h1[b-tzoj593q4w] {
    font-family: 'Times New Roman', Times, serif;
    align-content: center;
    color: darkblue;
    text-align: center;
}