th[b-wat0ct3v5z] {
    font-family: Arial;
    font-weight: bold;
}

h1[b-wat0ct3v5z] {
    font-family: Arial;
    font-weight: bold;
    font-size: 40px;
}

tr[b-wat0ct3v5z] {
    font-family: Arial;
}